body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #585858;
    color: #333;
}
.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.h1-principal{
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

h2{
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

h4{
    text-align: center;
}


iframe {
    display: block;
    margin: 0 auto;
}

img {
    display: block;
    margin: auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
p {
    margin-bottom: 10px;
    text-align: justify;
}
ul {
    list-style: none;
    padding: 0;
    text-align: center;
}
ul li {
    display: inline;
    margin-right: 10px;
}
ul li a {
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
    border: 1px solid #333;
    border-radius: 5px;
    transition: all 0.3s ease;
}
ul li a:hover {
    background-color: #333;
    color: #fff;
}

.navbar {
    background-color: #333;
    padding: 10px;
    display: flex;
    justify-content: center;
  }
  
  .nav-button {
    background-color: #555;
    border: none;
    color: #fff;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .nav-button:hover {
    background-color: #777;
  }

  .buttons {
    text-align: center;
    padding: 20px 0; /* add space above and below the buttons */
}
  
.new-button {
    background-color: transparent;
    border: 1px solid #333;
    border-radius: 5px;
    color: #333;
    padding: 10px 20px;
    text-decoration: none;
    transition: all 0.3s ease;
    display: inline-block;
    margin: 0 10px;
    font-size: 18px
}
  
.new-button:hover {
    background-color: #333;
    color: #fff;
}

button:hover {
    background-color: #333;
    color: #fff;
}