* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #1a1a1a;
    color: #fff;
  }
  
  .container {
    max-width: 800px;
    margin: 40px auto;
    padding: 30px;
    background-color: #272727;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.486);
    text-align: center;
  }
  
  h1 {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
  }

  .h1-principal{
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
}
  
  p {
    margin-bottom: 20px;
    text-align: justify;
    color: #ccc;
  }
  
  img {
    display: block;
    margin: 20px auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid #34c759;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .tec-buttons{
    text-align: center;
    padding: 20px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .buttons {
    text-align: center;
    padding: 30px 0;
  }
  
  .new-button {
    background-color: #34c759;
    border: none;
    color: #fff;
    padding: 12px 25px;
    text-decoration: none;
    transition: all 0.3s ease;
    display: inline-block;
    margin: 0 15px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
  }
  
  .new-button:hover {
    background-color: #2ecc71;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }


  button:hover {
    background-color: #2ecc71;
    color: #fff;
  }
  
  .navbar {
    background-color: #000000;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .nav-button {
    background-color: #34c759;
    border: none;
    color: #fff;
    padding: 12px 25px;
    margin: 0 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  
  .nav-button:hover {
    background-color: #2ecc71;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .nav-button:active {
    background-color: #34c759;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  }


  .github {
    background-color: #ffffff00;
    color: #fff;
    border: none;
    padding: 12px 25px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    display: inline-block;
    margin: 0 15px;
  }
  
  .github:hover {
    background-color: #2ecc71;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  ul {
    list-style: none;
    padding: 0;
    text-align: center;
  }
  
  ul li {
    display: inline;
    margin-right: 10px;
  }
  
  ul li a {
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
    border: 1px solid #333;
    border-radius: 5px;
    transition: all 0.3s ease;
    background-color: #34c759;
  }
  
  ul li a:hover {
    background-color: #c7e4d3;
    color: #fff;
  }

  p {
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    color: white;
}
